<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <br>
          <input [(ngModel)]="searchText"  name="searchDoc" type="text" id="search" aria-describedby="searchDoc" placeholder="Search">
          <span><i  class="fa fa-search search-icon"></i></span>
        </div>
      </form>
    </div>
  </div>

  <div class="list-group" *ngFor="let item of lists | filter: searchText">
    <a [routerLink]="['/details', item._id]" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item.title}}</h5>
        <!-- <a [routerLink]="['/details', item._id]">{{item.title}}</a> -->
      </div>
      <p class="mb-1">{{item.description}}</p>
      <small>{{item.content}}</small>
    </a>
  </div>
</div>
